/*
    style content
*/
$form-label-percent: 80px;
$form-input-inline-percent: calc(100% - 90px) !important;
$form-input-block-percent: calc(100% - 80px) !important;
$form-select-percent: 100% !important;
$form-inline: 50%;

body {

    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: auto;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
}

.site-header {
    
    height: 50px;
    font-size: 16px;
    background-color: #ffffff;
    .logo-view {
        position: relative;
        width: 30%;
        img {
            position: absolute;
            right: 0;
            height: 40px;
        }
    }
    .container {
        width: 40%;
        .navbar-nav {
            width: 100%;
            li {
                a {
                    color: #2f2e3f;
                    &:hover {
                        color: #4083f8;
                    }
                }
                &:after {
                    content: ' ';
                    width: 0;
                    height: 2px;
                    background: red;
                    display: block;
                    z-index: 10;
                    transition: width .1s ease-in-out;
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    transform: translate(-50%,0);
                }
            }
            .active{
               
                border-bottom: 2px solid #2878ff;
                font-weight: bold;
                a {
                    color: #2878ff;
                }
            }
           
        }
    }
}

.section-notice {
    background: linear-gradient(135deg, #419ff7  0%, #96c6ed 100%);

    p{
        font-size: 16px;
    }
}



