/*
    style content
*/
$form-label-percent: 80px;
$form-input-inline-percent: calc(100% - 90px) !important;
$form-input-block-percent: calc(100% - 80px) !important;
$form-select-percent: 100% !important;
$form-inline: 50%;

body {

    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: auto;
}

.layui-header {
    
    .layui-logo {
        left: 100px;
        background-color: #ffffff;
        color: black;
        img {
            height: 50px;
        }
    }

    .layui-nav {
        position: absolute;
        right: 100px;
    }
}



